body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 500px;
    top: 0;
    left: 0;
    background-color: #323b7a;
    padding: 20px;
 
  }
  
  li
  {
    font-size: 20px;
  }

  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  
  /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */